In [1]:
import pandas as pd
import numpy as np

In [3]:
pima = pd.read_csv('pima.csv')
pima.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [4]:
column = ['pregnant','glucose','bp','skin','insulin_level','bmi','pedigree','age','diabetes_label']

In [6]:
pima = pd.read_csv('pima.csv',names=column)
pima.head()

,pregnant,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_label
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
pima.tail()

,pregnant,glucose,bp,skin,insulin_level,bmi,pedigree,age,diabetes_label
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
feature = ['pregnant','insulin_level','bmi','age']

In [14]:
X = pima[feature]
y = pima['diabetes_label']

In [12]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)

In [17]:
from sklearn.linear_model import LogisticRegression

In [19]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

C:\Users\Andrew\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [20]:
prediction = lr.predict(X_test)

In [21]:
from sklearn import metrics

In [22]:
print(metrics.accuracy_score(y_test,prediction))

0.6927083333333334

In [23]:
y_test.value_counts()

0    130
1     62
Name: diabetes_label, dtype: int64

In [24]:
y_test.mean()

0.3229166666666667

In [29]:
print("     True diabetes label : ", y_test.values[0:15])
print("Predicted diabetes label : ", prediction[0:15])

     True diabetes label :  [1 0 0 1 0 0 1 1 0 0 1 1 0 0 0]
Predicted diabetes label :  [0 0 0 0 0 0 0 1 0 1 0 1 0 0 0]

In [34]:
#confusion matrix
print(metrics.confusion_matrix(y_test,prediction))

[[118  12]
 [ 47  15]]

In [ ]:
#error = (FP+FN)/(TP+TN+FP+FN )

In [33]:
#Sensitivity
print(metrics.recall_score(y_test,prediction))

0.24193548387096775

In [32]:
#precision
print(metrics.precision_score(y_test,prediction))

0.5555555555555556